* {
  margin: 0;
  padding: 0;
}

.top {
  min-height: 75px;
  background-color: #222222;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

.top__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header {
  margin: 0 auto;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-top: 18px;
  width: 111px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-top: 18px;
  padding-right: 9px;
  width: 168px;
  height: 37px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pink_el {
  border-radius: 50%;
  background: #F26376;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 19px;
  height: 19px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -6px;
  left: 20px;
}

.pink_el p {
  font-size: 12px;
  color: white;
}

.basket {
  position: relative;
}

nav {
  width: 232px;
  height: 764px;
  position: absolute;
  top: 75px;
  right: -100%;
  background-color: #FFFFFF;
  -webkit-transition: right .6s;
  transition: right .6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 2;
}

#switcher {
  position: absolute;
  visibility: hidden;
}

#switcher:checked ~ nav {
  right: 0;
}

#close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #6F6E6E;
  width: 12px;
  height: 12px;
}

.mega-box {
  margin-top: 37px;
  margin-left: 34px;
}

.mega-name {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 4px;
}

.mega-hedding {
  padding-top: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.menu-li {
  list-style-type: none;
}

.mega-link {
  text-decoration: none;
  display: block;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-top: 11px;
  padding-left: 20px;
}

.banner {
  max-height: 764px;
  background-color: #F1E4E6;
}

.banner_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.model {
  max-width: 50%;
}

.model img {
  max-width: 100%;
  max-height: 100%;
}

.top_info {
  border-left-color: #F16D7F;
  border-left-style: solid;
  border-left-width: 12px;
  padding-left: 16px;
}

.heading_top {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  color: #222222;
  font-size: 48px;
  line-height: 58px;
}

.paragraph_top {
  font-family: Lato;
  font-style: normal;
  font-size: 32px;
  line-height: 44.4px;
  color: #222222;
  font-weight: 700;
}

.main {
  width: 1140px;
  margin: 0 auto;
  padding-top: 65px;
}

.hot_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hot_big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box1 {
  width: 360px;
  height: 260px;
  background: url(img/for_women.svg) center center/cover no-repeat;
}

.box2 {
  width: 360px;
  height: 260px;
  background: url(img/for_men.svg) center center/cover no-repeat;
}

.box3 {
  width: 360px;
  height: 260px;
  background: url(img/for_kids.svg) center center/cover no-repeat;
}

.box4 {
  width: 1140px;
  height: 180px;
  background: url(img/accessories.svg) center center/cover no-repeat;
}

.box_text_link {
  text-decoration: none;
}

.box_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 260px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box_text_top {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
}

.box_text_bottom {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-align: center;
}

.box_text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  margin-top: 95px;
}

.footer_top {
  min-height: 341px;
  background-color: #222224;
}

.footer_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 104px 230px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer_blok {
  width: 360px;
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box_text_footer {
  font-family: Lato;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.box-text_footer1 {
  font-family: Lato;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.footer_middle {
  background-image: url(img/footer_middle.svg);
  background-size: 100%;
  height: 448px;
}

.footer_middle_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback {
  width: 360px;
  height: 225px;
  padding-top: 86px;
  padding-left: 228px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback_image {
  width: 96px;
  height: 96px;
  margin-bottom: 30px;
}

.feedback_text {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.contact_form {
  width: 557px;
  height: 142px;
  padding-top: 150px;
  padding-right: 230px;
}

.subscribe_text {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.subscribe_text_bottom {
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
}

.from_email {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email {
  padding-left: 22px;
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 25px 0 0 25px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe {
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  border: none;
  border-radius: 0 25px 25px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.footer_bottom {
  min-height: 79px;
  background-color: #222224;
}

.wrapper {
  max-width: 1140px;
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_copy_text {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer_links_item {
  width: 148px;
  height: 32px;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social_link {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  font-size: large;
  border: none;
  color: #000000;
  text-decoration: none;
}

.footer_social i {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_social a:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.container_products {
  max-width: 1140px;
  margin: 0 auto;
  min-height: 100%;
  margin-top: 96px;
}

.fetured {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.text_fetured {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-top: 6px;
  margin-bottom: 47px;
  text-align: center;
}

.fetured__list__items {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.fetured__items {
  width: 360px;
}

.fetured__items img {
  width: 100%;
  height: 420px;
}

figure {
  margin: 0;
  background: #F8F8F8;
}

img.fetured_image {
  width: 100%;
  position: relative;
}

.card {
  position: relative;
}

.card__hover {
  width: 100%;
  height: 420px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(58, 56, 56, 0.86);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__hover:hover {
  opacity: 1;
}

.card__button img {
  width: 26px;
  height: 24px;
}

.card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  opacity: 1;
  background: #3A3838;
  border: 1px solid white;
  width: 138px;
  height: 43px;
  text-transform: capitalize;
}

.card__button:hover {
  -webkit-box-shadow: 0 0px 10px #fff;
          box-shadow: 0 0px 10px #fff;
}

.text__link {
  text-decoration: none;
  color: #5D5D5D;
}

.product__name {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-top: 25px;
  margin-left: 18px;
}

.product__descriptiom {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-top: 12px;
  padding-left: 18px;
  width: 315px;
}

.product__price {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-top: 18px;
  padding-left: 18px;
  padding-bottom: 20px;
}

.all_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 48px;
}

.all_products_link {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-align: center;
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  text-decoration: none;
}

.all_products a:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.page-info {
  background-color: #F8F3F4;
}

.page-info-container {
  margin: 0 auto;
  width: 1140px;
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-name {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.breadcrumb {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb a:after {
  padding: 5px;
  color: #636363;
  content: "/\00a0";
}

ul.breadcrumb a {
  color: #636363;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.active {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.filter-container {
  max-width: 1140px;
  margin: 0 auto;
  min-height: 100%;
}

.filter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 52px;
}

.filter-column {
  width: calc(100% / 3);
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

.filter-main {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}

details[open].filter-main {
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 360px;
  min-height: 150px;
  top: -13px;
  left: -16px;
  padding-top: 13px;
  padding-left: 16px;
  padding-bottom: 13px;
}

details[open] > summary.filter-main-head {
  color: #ef5b70;
  outline: none;
}

details[open] > summary.filter-main-category-summary {
  outline: none;
}

details[open] > summary.filter-size-summary {
  outline: none;
}

details > summary {
  list-style: none;
}

details summary.filter-main-head::after {
  content: url(img/filter_icon.svg);
  margin-left: 11px;
}

details[open] summary.filter-main-head::after {
  content: url(img/filter_icon_open.svg);
  margin-left: 11px;
}

.filter-main-head {
  font-family: Lato;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.filter-main-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter-main-category-summary {
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  padding: 11px;
  margin-top: 16px;
  width: 327px;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 14px;
}

.li-filter {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  padding-top: 11px;
  padding-left: 17px;
}

.filter-column-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% / 3);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.filter-trending {
  margin-right: 28px;
}

.trend {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-right: 10px;
}

details[open] > summary .trend {
  color: #6F6E6E;
  outline: none;
}

.filter-size {
  margin-right: 28px;
}

.filter-size {
  position: relative;
}

.filter-size .choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 79px;
  height: 110px;
  background: white;
  position: absolute;
  z-index: 2;
  left: -15px;
  top: 20px;
  padding-top: 7px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

label {
  margin-left: 8px;
  margin-bottom: 6px;
  color: #6F6E6E;
}

.check {
  margin-right: 10px;
}

.catalog-container {
  margin-top: 64px;
}

.button__catalog {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.slide__button {
  margin: 0 auto;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
  height: 43px;
  width: 283px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide__button a {
  text-decoration: none;
  color: #EBEBEB;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-family: Lato;
  font-weight: 300;
}

.pdg {
  margin-right: 20px;
}

.arrow {
  margin-left: 16px;
  margin-right: 16px;
}

a.pink__link {
  color: #EF5B70;
}

.dots {
  color: #EBEBEB;
}

.image-slide {
  max-height: 777px;
  background-color: #F7F7F7;
}

.carousel-inner {
  border: 1px solid #EAEAEA;
}

.carousel-control-next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.carousel-control-prev {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.control-next-block,
.control-prev-block {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none;
  width: auto;
  height: auto;
  font-size: large;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
  color: #000000;
  width: auto;
}

.carousel-control-next:hover,
.carousel-control-prev:hover,
.carousel-control-next:focus,
.carousel-control-prev:focus {
  color: #F16D7F;
}

*,
::after,
::before {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

ol,
ul {
  padding-left: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

body {
  line-height: 0;
}

h3,
h4 {
  margin-bottom: 0;
}

.breadcrumb {
  margin-bottom: 0;
}

.product-description {
  margin: 0 auto;
  max-width: 1141px;
  min-height: 601px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  margin-top: -64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.description {
  max-width: 1141px;
  padding: 65px 0 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desctiption-head {
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-bottom: 12px;
}

.description-head-border {
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  margin-bottom: 12px;
}

.description-item {
  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  padding-bottom: 49px;
}

.description-item-text {
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  width: 555px;
  padding-bottom: 33px;
}

.product-price {
  font-family: Lato;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  padding-bottom: 65px;
}

.hr-product {
  border: 1px solid #EAEAEA;
  width: 641px;
  margin-bottom: 65px;
}

.choice__filter {
  margin-bottom: 49px;
}

.btn__desc {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 23px;
  border: none;
  background: transparent;
}

.btn__desc img {
  padding-left: 9px;
}

.choice__button {
  width: 211px;
  height: 47px;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background: transparent;
  border: 1px solid #FF6A6A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 23px;
  padding-right: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.small-products {
  margin-top: 129px;
}

.footer-products {
  margin-top: 128px;
}

.page-info {
  background-color: #F8F3F4;
}

.page-info-container {
  margin: 0 auto;
  width: 1140px;
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-name {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.cart-block {
  margin: 0 auto;
  max-width: 1140px;
  margin-top: 96px;
  margin-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-products {
  margin-right: 128px;
}

.cart-product {
  width: 652px;
  height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  margin-bottom: 40px;
}

.cart-image {
  width: 262px;
  height: 306px;
}

.cart-product-info {
  padding-left: 31px;
  padding-top: 22px;
}

.cart-product-name {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 42px;
}

.cart-product-description {
  font-family: Lato;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px;
}

input[type="number"] {
  width: 43px;
  height: 24px;
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #EAEAEA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin-left: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.close-product {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 28px;
  left: 610px;
}

.cart-buttons {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clear-button,
.continue-button {
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 17px 40px;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
}

.shipping-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 17px;
}

.shipping-adress-heading {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 20px;
}

#city,
#state,
#name,
#surname,
#email,
#userPassword,
#zip {
  width: 359px;
  height: 44px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 17px;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
}

.adress-block {
  font-family: Lato;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.submit {
  font-family: Lato;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  padding: 11px 15px;
  margin-top: 4px;
}

input[id="city"]::-webkit-input-placeholder,
input[id="name"]::-webkit-input-placeholder,
input[id="email"]::-webkit-input-placeholder,
input[id="userPassword"]::-webkit-input-placeholder {
  color: #B1B1B1;
}

input[id="city"]:-ms-input-placeholder,
input[id="name"]:-ms-input-placeholder,
input[id="email"]:-ms-input-placeholder,
input[id="userPassword"]:-ms-input-placeholder {
  color: #B1B1B1;
}

input[id="city"]::-ms-input-placeholder,
input[id="name"]::-ms-input-placeholder,
input[id="email"]::-ms-input-placeholder,
input[id="userPassword"]::-ms-input-placeholder {
  color: #B1B1B1;
}

input[id="city"]::placeholder,
input[id="name"]::placeholder,
input[id="email"]::placeholder,
input[id="userPassword"]::placeholder {
  color: #B1B1B1;
}

.checkout {
  background: #F5F3F3;
  width: 360px;
  height: 214px;
  margin-top: 57px;
}

.sub-total {
  width: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 39px 34px 0 218px;
}

.sub-total-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.grand-total {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 37px 21px 153px;
}

.grand-total-text {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.hr-checkout {
  background: #E2E2E2;
  width: 275px;
  margin-left: 43px;
}

.proceed-to-checkout {
  width: 273px;
  height: 50px;
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  border: none;
  margin-top: 17px;
  margin-left: 44px;
}

.registration {
  margin: 0 auto;
  max-width: 1140px;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 359px;
  margin-right: 128px;
}

.registration-heading {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 20px;
}

.name-block {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.password-info {
  font-family: Lato;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-bottom: 39px;
  margin-top: -5px;
}

.radio-button {
  margin-bottom: 33px;
  margin-top: 11px;
}

.radio-button label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-right: 20px;
}

.radio-button input {
  border: 1px solid #A4A4A4;
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.join-button {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: none;
  padding: 17px 29px;
}

.arrow-right {
  padding-left: 20px;
}

.registraion-text-heading {
  font-family: Lato;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 22px;
}

.registraion-tex-paragraph {
  font-family: Lato;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 16px;
}

.registration-paragraph-top {
  padding-bottom: 21px;
  font-family: Lato;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.check-mark {
  padding-right: 23px;
}

.footer-registration {
  margin-top: 96px;
}

.registraion-text-heading:hover {
  -webkit-transform: scale(2) translateX(160px);
          transform: scale(2) translateX(160px);
  -webkit-transition: 1s;
  transition: 1s;
}

.registraion-tex-paragraph:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1s;
  transition: 1s;
}
/*# sourceMappingURL=style.css.map */